
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #193341;
  text-align: center;
}
#name{
	padding-top: 15%;
	font-size: 300%;
	color: white;
}
#bottom{
	margin: 3% 33%;

}
#proceed_button{
	width: 200px;
	height: 80px;
	font-size: 80%;
	color: white;
	background-color: #2c5a71;
}
#logout_button{
	width: 200px;
	height: 80px;
	font-size: 80%;
	color: white;
	background-color: #2c5a71;
}
#authenticate_button{
	width: 180px;
	height: 80px;
	font-size: 80%;
	color: white;
	background-color: #2c5a71;
}
